openapi: 3.0.0
info:
  title: Moov API
  contact:
    name: Moov Developer Support
    email: help@moov.io
    url: https://moov.io
  license:
    name: Unlicensed
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: |-
    Moov is a platform that enables developers to integrate all aspects of money movement with ease and speed.
    The Moov API makes it simple for platforms to send, receive, and store money. Our API is based upon REST
    principles, returns JSON responses, and uses standard HTTP response codes. To learn more about how Moov
    works at a high level, read our [concepts](https://docs.moov.io/guides/get-started/glossary/) guide.
  version: latest
servers:
  - url: https://api.moov.io
    description: Production API host
    variables: {}
security:
  - BasicAuth: []
tags:
  - name: Accounts
  - name: Adjustments
  - name: Apple pay
  - name: Authentication
  - name: Bank accounts
  - name: Fee plans
  - name: Branding
  - name: Capabilities
  - name: Cards
  - name: Disputes
  - name: End to End Encryption
  - name: Enriched address
  - name: Enriched profile
  - name: Industries
  - name: Avatars
  - name: Institutions
  - name: Files
  - name: Card issuing
  - name: Issuing transactions
  - name: Onboarding
  - name: Payment links
  - name: Payment methods
  - name: Ping
  - name: Receipts
  - name: Representatives
  - name: Scheduling
  - name: Terminal Applications
  - name: Account Terminal Applications
  - name: Transfers
  - name: Underwriting
  - name: Sweeps
  - name: Wallet transactions
  - name: Wallets
paths:
  /accounts:
    post:
      operationId: createAccount
      description: |-
        You can create **business** or **individual** accounts for your users (i.e., customers, merchants) by passing the required
        information to Moov. Requirements differ per account type and requested [capabilities](https://docs.moov.io/guides/accounts/capabilities/requirements/).

        If you're requesting the `wallet`, `send-funds`, `collect-funds`, or `card-issuing` capabilities, you'll need to:
          + Send Moov the user [platform terms of service agreement](https://docs.moov.io/guides/accounts/requirements/platform-agreement/) acceptance.
            This can be done upon account creation, or by [patching](https://docs.moov.io/api/moov-accounts/accounts/patch/) the account using the `termsOfService` field.
        If you're creating a business account with the business type `llc`, `partnership`, or `privateCorporation`, you'll need to:
          + Provide [business representatives](https://docs.moov.io/api/moov-accounts/representatives/) after creating the account.
          + [Patch](https://docs.moov.io/api/moov-accounts/accounts/patch/) the account to indicate that business representative ownership information is complete.

        Visit our documentation to read more about [creating accounts](https://docs.moov.io/guides/accounts/create-accounts/) and [verification requirements](https://docs.moov.io/guides/accounts/requirements/identity-verification/).
        Note that the `mode` field (for production or sandbox) is only required when creating a _facilitator_ account. All non-facilitator account requests will ignore the mode field and be set to the calling facilitator's mode.

        To access this endpoint using an [access token](https://docs.moov.io/api/authentication/access-tokens/) you'll need 
        to specify the `/accounts.write` scope.
      parameters:
        - name: x-moov-version
          in: header
          required: false
          description: |-
            Specify an API version.

            API versioning follows the format `vYYYY.QQ.BB`, where 
              - `YYYY` is the year
              - `QQ` is the two-digit month for the first month of the quarter (e.g., 01, 04, 07, 10)
              - `BB` is the build number, starting at `.01`, for subsequent builds in the same quarter. 
                - For example, `v2024.01.00` is the initial release of the first quarter of 2024.

            The `latest` version represents the most recent development state. It may include breaking changes and should be treated as a beta release.
          schema: &ref_17
            type: string
            x-speakeasy-globals-hidden: true
            default: v2024.01.00
          x-speakeasy-globals-hidden: true
      responses:
        '200':
          description: The request completed successfully.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                required: &ref_20
                  - accountID
                  - mode
                  - accountType
                  - displayName
                  - profile
                  - verification
                  - createdOn
                  - updatedOn
                properties: &ref_21
                  accountID:
                    type: string
                    format: uuid
                    description: Unique identifier for this account.
                    example: c520f1b9-0ba7-42f5-b977-248cdbe41c69
                  mode:
                    type: string
                    enum: &ref_16
                      - sandbox
                      - production
                    description: The operating mode for an account.
                    example: production
                  accountType:
                    type: string
                    enum: &ref_18
                      - individual
                      - business
                      - guest
                    description: The type of entity represented by this account.
                    example: business
                  displayName:
                    type: string
                    maxLength: 64
                    example: Whole Body Fitness
                  profile:
                    type: object
                    properties: &ref_585
                      individual:
                        type: object
                        required: &ref_499
                          - name
                        properties: &ref_500
                          name:
                            type: object
                            required: &ref_3
                              - firstName
                              - lastName
                            properties: &ref_4
                              firstName:
                                type: string
                                maxLength: 64
                                pattern: '[À-ÖØ-öø-ÿ"''(),-.0-9A-Za-z~ &!]*'
                                description: The individual's first given name.
                                example: Jordan
                              middleName:
                                type: string
                                maxLength: 64
                                pattern: '[À-ÖØ-öø-ÿ"''(),-.0-9A-Za-z~ &!]*'
                                description: The individual's second given name, if any.
                                example: Reese
                              lastName:
                                type: string
                                maxLength: 64
                                pattern: '[À-ÖØ-öø-ÿ"''(),-.0-9A-Za-z~ &!]*'
                                description: The individual's family name.
                                example: Lee
                              suffix:
                                type: string
                                maxLength: 20
                                pattern: '[À-ÖØ-öø-ÿ"''(),-.0-9A-Za-z~ &!]*'
                                description: Suffix of a given name.
                                example: Jr
                          phone:
                            type: object
                            properties: &ref_2
                              number:
                                type: string
                                maxLength: 10
                                example: '8185551212'
                              countryCode:
                                type: string
                                maxLength: 1
                                example: '1'
                          email:
                            type: string
                            maxLength: 255
                            format: email
                            example: jordan.lee@classbooker.dev
                          address:
                            type: object
                            required: &ref_0
                              - addressLine1
                              - city
                              - stateOrProvince
                              - postalCode
                              - country
                            properties: &ref_1
                              addressLine1:
                                type: string
                                maxLength: 60
                                pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                                example: 123 Main Street
                              addressLine2:
                                type: string
                                maxLength: 32
                                pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                                example: Apt 302
                              city:
                                type: string
                                maxLength: 32
                                pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                                example: Boulder
                              stateOrProvince:
                                type: string
                                maxLength: 2
                                example: CO
                              postalCode:
                                type: string
                                maxLength: 5
                                example: '80301'
                              country:
                                type: string
                                maxLength: 2
                                example: US
                          birthDateProvided:
                            type: boolean
                            description: Indicates whether this individual's birth date has been provided.
                          governmentIDProvided:
                            type: boolean
                            description: Indicates whether a government ID (SSN, ITIN, etc.) has been provided for this individual.
                        description: Describes an individual.
                      business:
                        type: object
                        required: &ref_372
                          - legalBusinessName
                          - ownersProvided
                        properties: &ref_373
                          legalBusinessName:
                            type: string
                            maxLength: 64
                            pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                            description: The legal name under which the entity is registered.
                            example: Classbooker, LLC
                          doingBusinessAs:
                            type: string
                            maxLength: 64
                            pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                            description: A registered trade name under which the business operates, if different from its legal name.
                          businessType:
                            type: string
                            enum: &ref_9
                              - soleProprietorship
                              - unincorporatedAssociation
                              - trust
                              - publicCorporation
                              - privateCorporation
                              - llc
                              - partnership
                              - unincorporatedNonProfit
                              - incorporatedNonProfit
                              - governmentEntity
                            description: The type of entity represented by this business.
                            example: llc
                          address:
                            type: object
                            required: *ref_0
                            properties: *ref_1
                          phone:
                            type: object
                            properties: *ref_2
                          email:
                            type: string
                            maxLength: 255
                            format: email
                            example: jordan.lee@classbooker.dev
                          website:
                            type: string
                            format: uri
                            maxLength: 100
                          description:
                            type: string
                            minLength: 10
                            maxLength: 100
                            pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                            example: Local fitness gym paying out instructors
                          taxIDProvided:
                            type: boolean
                            description: Indicates whether a tax ID has been provided for this business.
                          representatives:
                            type: array
                            items:
                              type: object
                              required: &ref_135
                                - representativeID
                                - name
                                - createdOn
                                - updatedOn
                              properties: &ref_136
                                representativeID:
                                  type: string
                                  format: uuid
                                  description: Unique identifier for this representative.
                                name:
                                  type: object
                                  required: *ref_3
                                  properties: *ref_4
                                phone:
                                  type: object
                                  properties: *ref_2
                                email:
                                  type: string
                                  maxLength: 255
                                  format: email
                                  example: jordan.lee@classbooker.dev
                                address:
                                  type: object
                                  required: *ref_0
                                  properties: *ref_1
                                birthDateProvided:
                                  type: boolean
                                  description: Indicates whether this representative's birth date has been provided.
                                governmentIDProvided:
                                  type: boolean
                                  description: Indicates whether a government ID (SSN, ITIN, etc.) has been provided for this representative.
                                responsibilities:
                                  type: object
                                  properties: &ref_140
                                    isController:
                                      type: boolean
                                      description: Indicates whether this individual has significant management responsibilities within the business.
                                    isOwner:
                                      type: boolean
                                      description: |-
                                        If `true`, this field indicates that the individual has a business ownership stake of at least 25% in the
                                        business. If the representative does not own at least 25% of the business, this field should be `false`.
                                    ownershipPercentage:
                                      type: integer
                                      description: The percentage of ownership this individual has in the business (required if `isOwner` is `true`).
                                      example: 38
                                    jobTitle:
                                      type: string
                                      maxLength: 64
                                      pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                                      example: CEO
                                  description: Describes the job responsibilities of a business representative.
                                createdOn:
                                  type: string
                                  format: date-time
                                updatedOn:
                                  type: string
                                  format: date-time
                                disabledOn:
                                  type: string
                                  format: date-time
                              description: Describes a business representative.
                          ownersProvided:
                            type: boolean
                          industryCodes:
                            type: object
                            properties: &ref_10
                              naics:
                                type: string
                                minLength: 2
                                maxLength: 6
                                example: '713940'
                              sic:
                                type: string
                                minLength: 4
                                maxLength: 4
                                example: '7991'
                              mcc:
                                type: string
                                minLength: 4
                                maxLength: 4
                                example: '7997'
                          primaryRegulator:
                            type: string
                            enum: &ref_11
                              - OCC
                              - FDIC
                              - NCUA
                              - FRB
                            description: If the business is a financial institution, this field describes its primary regulator.
                        description: Describes a business.
                      guest:
                        type: object
                        required: &ref_497
                          - name
                        properties: &ref_498
                          name:
                            type: string
                            maxLength: 64
                            pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                            description: |-
                              The name associated with the guest account.
                              This will default to "Guest {accountIDfirst8}" if no other name is provided.
                            example: Guest 75e5fbb8
                          phone:
                            type: object
                            properties: *ref_2
                          email:
                            type: string
                            maxLength: 255
                            format: email
                            example: jordan.lee@classbooker.dev
                        description: Describes a guest account profile.
                    description: Describes a Moov account profile. A profile will have a business or an individual, depending on the account's type.
                  metadata:
                    type: object
                    additionalProperties: &ref_12
                      type: string
                    description: Free-form key-value pair list. Useful for storing information that is not captured elsewhere.
                    example: &ref_13
                      optional: metadata
                  termsOfService:
                    type: object
                    required: &ref_638
                      - acceptedDate
                      - acceptedIP
                    properties: &ref_639
                      acceptedDate:
                        type: string
                        format: date-time
                        description: The date and time the terms of service were accepted.
                      acceptedIP:
                        type: string
                        format: ipv4
                        description: The IP address from which the terms of service were accepted.
                        example: 172.217.2.46
                    description: Describes the acceptance of the Terms of Service.
                  capabilities:
                    type: array
                    items:
                      type: object
                      required: &ref_324
                        - capability
                        - status
                      properties: &ref_325
                        capability:
                          type: string
                        status:
                          type: string
                      description: Describes an action or set of actions that an account is permitted to perform.
                  verification:
                    type: object
                    required: &ref_668
                      - status
                    properties: &ref_669
                      verificationStatus:
                        type: string
                        enum: &ref_329
                          - unverified
                          - pending
                          - resubmit
                          - review
                          - verified
                          - failed
                        description: Possible states an account verification can be in.
                        deprecated: true
                      status:
                        type: string
                        enum: &ref_670
                          - unverified
                          - pending
                          - verified
                          - errored
                        description: Possible states an account verification can be in.
                        deprecated: true
                      details:
                        type: string
                        enum: &ref_671
                          - failedAutoVerify
                          - docDobMismatch
                          - docNameMismatch
                          - docAddressMismatch
                          - docNumberMismatch
                          - docIncomplete
                          - docFailedRisk
                          - potentialAccountSanctionsMatch
                          - potentialRepresentativeSanctionsMatch
                          - failedOther
                        description: Additional detail for a verification status.
                        deprecated: true
                      documents:
                        type: array
                        items:
                          type: object
                          required: &ref_451
                            - documentID
                            - type
                            - contentType
                            - uploadedAt
                          properties: &ref_452
                            documentID:
                              type: string
                              format: uuid
                              example: e07e83e8-9429-4e99-ac99-c941f719eb39
                            type:
                              type: string
                              enum: &ref_453
                                - driversLicense
                                - passport
                                - utilityBill
                                - bankStatement
                              description: Types of documents that can be uploaded.
                              example: bankStatement
                            contentType:
                              type: string
                              description: The document's MIME type.
                              example: application/pdf
                            parseErrors:
                              type: array
                              items:
                                type: string
                              description: Optional array of errors encountered during automated parsing.
                            uploadedAt:
                              type: string
                              format: date-time
                              example: '2024-05-06T12:20:38.184Z'
                    description: Describes identity verification status and relevant identity verification documents.
                  foreignID:
                    type: string
                    maxLength: 64
                    pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                    description: Optional alias from a foreign/external system which can be used to reference this resource.
                  customerSupport:
                    type: object
                    properties: &ref_14
                      phone:
                        type: object
                        properties: *ref_2
                      email:
                        type: string
                        maxLength: 255
                        format: email
                        example: jordan.lee@classbooker.dev
                      address:
                        type: object
                        required: *ref_0
                        properties: *ref_1
                      website:
                        type: string
                        format: uri
                    description: |-
                      User-provided information that can be displayed on credit card transactions for customers to use when
                      contacting a customer support team. This data is only allowed on a business account.
                  settings:
                    type: object
                    properties: &ref_15
                      cardPayment:
                        type: object
                        properties: &ref_382
                          statementDescriptor:
                            type: string
                            minLength: 4
                            maxLength: 22
                            pattern: '[a-zA-Z0-9.!*-+_ ]+'
                            description: The description that shows up on credit card transactions. This will default to the accounts display name on account creation.
                            example: Whole Body Fitness
                        description: User provided settings to manage card payments. This data is only allowed on a business account.
                      achPayment:
                        type: object
                        required: &ref_320
                          - companyName
                        properties: &ref_321
                          companyName:
                            type: string
                            minLength: 1
                            maxLength: 16
                            pattern: '[a-zA-Z0-9- ]+'
                            description: The description that shows up on ACH transactions. This will default to the account's display name on account creation.
                            example: WholeBodyFitness
                    description: User provided settings to manage an account.
                  createdOn:
                    type: string
                    format: date-time
                    example: '2024-05-06T12:20:38.184Z'
                  updatedOn:
                    type: string
                    format: date-time
                    example: '2024-05-06T12:20:38.184Z'
                  disconnectedOn:
                    type: string
                    format: date-time
                    example: '2024-05-06T12:20:38.184Z'
                example: &ref_22
                  mode: sandbox
                  accountID: 53ca67ea-6fd3-423f-9544-ce2404159d33
                  accountType: business
                  displayName: Whole Body Fitness LLC
                  profile:
                    business:
                      legalBusinessName: Whole Body Fitness LLC
                      ownersProvided: false
                  verification:
                    verificationStatus: unverified
                    status: unverified
                  settings:
                    cardPayment:
                      statementDescriptor: Whole Body Fitness LLC
                    achPayment:
                      companyName: Whole Body Fitne
                  createdOn: '2024-12-16T17:55:20.557151867Z'
                  updatedOn: '2024-12-16T17:55:20.557151867Z'
        '400':
          description: The server could not understand the request due to invalid syntax.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                required: &ref_5
                  - error
                properties: &ref_6
                  error:
                    type: string
        '401':
          description: The request contained missing or expired authentication.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '403':
          description: The user is not authorized to make the request.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '404':
          description: The requested resource was not found.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '409':
          description: The request conflicted with the current state of the target resource.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                required: *ref_5
                properties: *ref_6
        '422':
          description: The request was well-formed, but the contents failed validation. Check the request for missing or invalid fields.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties: &ref_397
                      accountType:
                        type: string
                      profile:
                        type: object
                        properties: &ref_23
                          individual:
                            type: object
                            properties: &ref_413
                              name:
                                type: object
                                properties: &ref_137
                                  firstName:
                                    type: string
                                  middleName:
                                    type: string
                                  lastName:
                                    type: string
                                  suffix:
                                    type: string
                              phone:
                                type: object
                                properties: &ref_8
                                  number:
                                    type: string
                                  countryCode:
                                    type: string
                              email:
                                type: string
                              address:
                                type: object
                                properties: &ref_7
                                  addressLine1:
                                    type: string
                                  addressLine2:
                                    type: string
                                  city:
                                    type: string
                                  stateOrProvince:
                                    type: string
                                  postalCode:
                                    type: string
                                  country:
                                    type: string
                              birthDate:
                                type: object
                                properties: &ref_227
                                  day:
                                    type: string
                                  month:
                                    type: string
                                  year:
                                    type: string
                              governmentID:
                                type: object
                                properties:
                                  ssn:
                                    type: object
                                    properties:
                                      full:
                                        type: string
                                      lastFour:
                                        type: string
                                  itin:
                                    type: object
                                    properties:
                                      full:
                                        type: string
                                      lastFour:
                                        type: string
                          business:
                            type: object
                            properties: &ref_404
                              legalBusinessName:
                                type: string
                              doingBusinessAs:
                                type: string
                              businessType:
                                type: string
                              address:
                                type: object
                                properties: *ref_7
                              phone:
                                type: object
                                properties: *ref_8
                              email:
                                type: string
                              website:
                                type: string
                              description:
                                type: string
                              taxID:
                                type: object
                                properties:
                                  ein:
                                    type: object
                                    properties:
                                      number:
                                        type: string
                              industryCodes:
                                type: object
                                properties:
                                  naics:
                                    type: string
                                  sic:
                                    type: string
                                  mcc:
                                    type: string
                              primaryRegulator:
                                type: string
                      metadata:
                        type: string
                      termsOfService:
                        type: object
                        properties: &ref_24
                          token:
                            type: string
                          manual:
                            type: object
                            properties:
                              acceptedDate:
                                type: string
                              acceptedDomain:
                                type: string
                              acceptedIP:
                                type: string
                              acceptedUserAgent:
                                type: string
                      foreignID:
                        type: string
                      customerSupport:
                        type: object
                        properties: &ref_25
                          phone:
                            type: object
                            properties: *ref_8
                          email:
                            type: string
                          address:
                            type: object
                            properties: *ref_7
                          website:
                            type: string
                      settings:
                        type: object
                        properties: &ref_26
                          cardPayment:
                            type: object
                            properties:
                              statementDescriptor:
                                type: string
                          achPayment:
                            type: object
                            properties:
                              companyName:
                                type: string
                      capabilities:
                        type: object
                        additionalProperties: &ref_243
                          type: string
                        example: &ref_244
                          '0': first element failed validation...
                required:
                  - error
        '429':
          description: Request was refused due to rate limiting.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '500':
          description: The request failed due to an unexpected error.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '504':
          description: The request failed because a downstream service failed to respond.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: &ref_240
                - accountType
                - profile
              properties: &ref_241
                accountType:
                  type: string
                  enum: &ref_398
                    - individual
                    - business
                profile:
                  type: object
                  properties: &ref_420
                    individual:
                      type: object
                      required: &ref_414
                        - name
                      properties: &ref_415
                        name:
                          type: object
                          required: *ref_3
                          properties: *ref_4
                        phone:
                          type: object
                          properties: *ref_2
                        email:
                          type: string
                          maxLength: 255
                          format: email
                          example: jordan.lee@classbooker.dev
                        address:
                          type: object
                          required: *ref_0
                          properties: *ref_1
                        birthDate:
                          type: object
                          required: &ref_138
                            - day
                            - month
                            - year
                          properties: &ref_139
                            day:
                              type: integer
                              example: 9
                            month:
                              type: integer
                              example: 11
                            year:
                              type: integer
                              example: 1989
                        governmentID:
                          type: object
                          properties: &ref_27
                            ssn:
                              type: object
                              properties:
                                full:
                                  type: string
                                  pattern: ^\d{3}[-]?\d{2}[-]?\d{4}$
                                lastFour:
                                  type: string
                            itin:
                              type: object
                              properties:
                                full:
                                  type: string
                                  pattern: ^\d{3}[-]?\d{2}[-]?\d{4}$
                                lastFour:
                                  type: string
                    business:
                      type: object
                      required: &ref_405
                        - legalBusinessName
                      properties: &ref_406
                        legalBusinessName:
                          type: string
                          maxLength: 64
                          pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                          description: The legal name under which the entity is registered.
                          example: Classbooker, LLC
                        doingBusinessAs:
                          type: string
                          maxLength: 64
                          pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                          description: A registered trade name under which the business operates, if different from its legal name.
                        businessType:
                          type: string
                          enum: *ref_9
                          description: The type of entity represented by this business.
                          example: llc
                        address:
                          type: object
                          required: *ref_0
                          properties: *ref_1
                        phone:
                          type: object
                          properties: *ref_2
                        email:
                          type: string
                          maxLength: 255
                          format: email
                          example: jordan.lee@classbooker.dev
                        website:
                          type: string
                          format: uri
                          maxLength: 100
                        description:
                          type: string
                          minLength: 10
                          maxLength: 100
                          pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                          example: Local fitness gym paying out instructors
                        taxID:
                          type: object
                          required: &ref_630
                            - ein
                          properties: &ref_631
                            ein:
                              type: object
                              properties:
                                number:
                                  type: string
                                  example: 12-3456789
                              required:
                                - number
                          description: An EIN (employer identification number) for the business. For sole proprietors, an SSN can be used as the EIN.
                        industryCodes:
                          type: object
                          properties: *ref_10
                        primaryRegulator:
                          type: string
                          enum: *ref_11
                          description: If the business is a financial institution, this field describes its primary regulator.
                metadata:
                  type: object
                  additionalProperties: *ref_12
                  description: Free-form key-value pair list. Useful for storing information that is not captured elsewhere.
                  example: *ref_13
                termsOfService:
                  oneOf:
                    - type: object
                      required: &ref_253
                        - token
                      properties: &ref_254
                        token:
                          type: string
                          example: kgT1uxoMAk7QKuyJcmQE8nqW_HjpyuXBabiXPi6T83fUQoxsyWYPcYzuHQTqrt7YRp4gCwyDQvb6U5REM9Pgl2EloCe35t-eiMAbUWGo3Kerxme6aqNcKrP_6-v0MTXViOEJ96IBxPFTvMV7EROI2dq3u4e-x4BbGSCedAX-ViAQND6hcreCDXwrO6sHuzh5Xi2IzSqZHxaovnWEboaxuZKRJkA3dsFID6fzitMpm2qrOh4
                      description: An encrypted value used to record acceptance of Moov's Terms of Service.
                    - type: object
                      required: &ref_538
                        - acceptedDate
                        - acceptedIP
                        - acceptedUserAgent
                        - acceptedDomain
                      properties: &ref_539
                        acceptedDate:
                          type: string
                          format: date-time
                          description: The date and time the terms of service were accepted.
                        acceptedIP:
                          type: string
                          format: ipv4
                          description: The IP address from which the terms of service were accepted.
                          example: 172.217.2.46
                        acceptedUserAgent:
                          type: string
                          maxLength: 255
                          description: The user-agent of the user making the request.
                          example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/537.36
                        acceptedDomain:
                          type: string
                          format: uri
                      description: Describes the acceptance of the Terms of Service. All data is required, and must be from the user.
                foreignID:
                  type: string
                  maxLength: 64
                  pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                  description: Optional alias from a foreign/external system which can be used to reference this resource.
                customerSupport:
                  type: object
                  properties: *ref_14
                  description: |-
                    User-provided information that can be displayed on credit card transactions for customers to use when
                    contacting a customer support team. This data is only allowed on a business account.
                settings:
                  type: object
                  properties: *ref_15
                  description: User provided settings to manage an account.
                capabilities:
                  type: array
                  items:
                    type: string
                    enum: &ref_19
                      - transfers
                      - send-funds
                      - collect-funds
                      - wallet
                      - card-issuing
                      - production-app
                    description: |-
                      Moov account capabilities.

                      The `production-app` capability might appear in your list. This is a read-only capability that Moov requests and uses for account verification purposes. The capability remains active with your account and requires no additional action.
                mode:
                  type: string
                  enum: *ref_16
                  description: The operating mode for an account.
                  example: production
              example: &ref_242
                accountType: business
                profile:
                  business:
                    legalBusinessName: Whole Body Fitness LLC
      x-speakeasy-name-override: create
      x-codeSamples:
        - lang: python
          label: Python (SDK)
          source: |-
            from moovio_sdk import Moov
            from moovio_sdk.models import components


            with Moov(
                security=components.Security(
                    username="",
                    password="",
                ),
            ) as moov:

                res = moov.accounts.create(account_type=components.CreateAccountType.BUSINESS, profile=components.CreateProfile(
                    individual=components.CreateIndividualProfile(
                        name=components.IndividualName(
                            first_name="Jordan",
                            middle_name="Reese",
                            last_name="Lee",
                            suffix="Jr",
                        ),
                        phone=components.PhoneNumber(
                            number="8185551212",
                            country_code="1",
                        ),
                        email="jordan.lee@classbooker.dev",
                        address=components.Address(
                            address_line1="123 Main Street",
                            address_line2="Apt 302",
                            city="Boulder",
                            state_or_province="CO",
                            postal_code="80301",
                            country="US",
                        ),
                        birth_date=components.BirthDate(
                            day=9,
                            month=11,
                            year=1989,
                        ),
                    ),
                    business=components.CreateBusinessProfile(
                        legal_business_name="Classbooker, LLC",
                        business_type=components.BusinessType.LLC,
                        address=components.Address(
                            address_line1="123 Main Street",
                            address_line2="Apt 302",
                            city="Boulder",
                            state_or_province="CO",
                            postal_code="80301",
                            country="US",
                        ),
                        phone=components.PhoneNumber(
                            number="8185551212",
                            country_code="1",
                        ),
                        email="jordan.lee@classbooker.dev",
                        description="Local fitness gym paying out instructors",
                        tax_id=components.TaxID(
                            ein=components.Ein(
                                number="12-3456789",
                            ),
                        ),
                        industry_codes=components.IndustryCodes(
                            naics="713940",
                            sic="7991",
                            mcc="7997",
                        ),
                    ),
                ), metadata={
                    "optional": "metadata",
                }, terms_of_service={
                    "token": "kgT1uxoMAk7QKuyJcmQE8nqW_HjpyuXBabiXPi6T83fUQoxsyWYPcYzuHQTqrt7YRp4gCwyDQvb6U5REM9Pgl2EloCe35t-eiMAbUWGo3Kerxme6aqNcKrP_6-v0MTXViOEJ96IBxPFTvMV7EROI2dq3u4e-x4BbGSCedAX-ViAQND6hcreCDXwrO6sHuzh5Xi2IzSqZHxaovnWEboaxuZKRJkA3dsFID6fzitMpm2qrOh4",
                }, customer_support={
                    "phone": {
                        "number": "8185551212",
                        "country_code": "1",
                    },
                    "email": "jordan.lee@classbooker.dev",
                    "address": {
                        "address_line1": "123 Main Street",
                        "address_line2": "Apt 302",
                        "city": "Boulder",
                        "state_or_province": "CO",
                        "postal_code": "80301",
                        "country": "US",
                    },
                }, settings={
                    "card_payment": {
                        "statement_descriptor": "Whole Body Fitness",
                    },
                    "ach_payment": {
                        "company_name": "WholeBodyFitness",
                    },
                }, mode=components.Mode.PRODUCTION)

                # Handle response
                print(res)
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { Moov } from "@moovio/sdk";

            const moov = new Moov({
              security: {
                username: "",
                password: "",
              },
            });

            async function run() {
              const result = await moov.accounts.create({
                accountType: "business",
                profile: {
                  individual: {
                    name: {
                      firstName: "Jordan",
                      middleName: "Reese",
                      lastName: "Lee",
                      suffix: "Jr",
                    },
                    phone: {
                      number: "8185551212",
                      countryCode: "1",
                    },
                    email: "jordan.lee@classbooker.dev",
                    address: {
                      addressLine1: "123 Main Street",
                      addressLine2: "Apt 302",
                      city: "Boulder",
                      stateOrProvince: "CO",
                      postalCode: "80301",
                      country: "US",
                    },
                    birthDate: {
                      day: 9,
                      month: 11,
                      year: 1989,
                    },
                  },
                  business: {
                    legalBusinessName: "Classbooker, LLC",
                    businessType: "llc",
                    address: {
                      addressLine1: "123 Main Street",
                      addressLine2: "Apt 302",
                      city: "Boulder",
                      stateOrProvince: "CO",
                      postalCode: "80301",
                      country: "US",
                    },
                    phone: {
                      number: "8185551212",
                      countryCode: "1",
                    },
                    email: "jordan.lee@classbooker.dev",
                    description: "Local fitness gym paying out instructors",
                    taxID: {
                      ein: {
                        number: "12-3456789",
                      },
                    },
                    industryCodes: {
                      naics: "713940",
                      sic: "7991",
                      mcc: "7997",
                    },
                  },
                },
                metadata: {
                  "optional": "metadata",
                },
                termsOfService: {
                  token: "kgT1uxoMAk7QKuyJcmQE8nqW_HjpyuXBabiXPi6T83fUQoxsyWYPcYzuHQTqrt7YRp4gCwyDQvb6U5REM9Pgl2EloCe35t-eiMAbUWGo3Kerxme6aqNcKrP_6-v0MTXViOEJ96IBxPFTvMV7EROI2dq3u4e-x4BbGSCedAX-ViAQND6hcreCDXwrO6sHuzh5Xi2IzSqZHxaovnWEboaxuZKRJkA3dsFID6fzitMpm2qrOh4",
                },
                customerSupport: {
                  phone: {
                    number: "8185551212",
                    countryCode: "1",
                  },
                  email: "jordan.lee@classbooker.dev",
                  address: {
                    addressLine1: "123 Main Street",
                    addressLine2: "Apt 302",
                    city: "Boulder",
                    stateOrProvince: "CO",
                    postalCode: "80301",
                    country: "US",
                  },
                },
                settings: {
                  cardPayment: {
                    statementDescriptor: "Whole Body Fitness",
                  },
                  achPayment: {
                    companyName: "WholeBodyFitness",
                  },
                },
                mode: "production",
              });

              // Handle the result
              console.log(result);
            }

            run();
        - lang: java
          label: Java (SDK)
          source: |-
            package hello.world;

            import io.moov.sdk.Moov;
            import io.moov.sdk.models.components.*;
            import io.moov.sdk.models.errors.CreateAccountResponseBody;
            import io.moov.sdk.models.errors.GenericError;
            import io.moov.sdk.models.operations.CreateAccountResponse;
            import java.lang.Exception;
            import java.util.Map;

            public class Application {

                public static void main(String[] args) throws GenericError, CreateAccountResponseBody, Exception {

                    Moov sdk = Moov.builder()
                            .security(Security.builder()
                                .username("")
                                .password("")
                                .build())
                        .build();

                    CreateAccountResponse res = sdk.accounts().create()
                            .createAccount(CreateAccount.builder()
                                .accountType(CreateAccountType.BUSINESS)
                                .profile(CreateProfile.builder()
                                    .individual(CreateIndividualProfile.builder()
                                        .name(IndividualName.builder()
                                            .firstName("Jordan")
                                            .lastName("Lee")
                                            .middleName("Reese")
                                            .suffix("Jr")
                                            .build())
                                        .phone(PhoneNumber.builder()
                                            .number("8185551212")
                                            .countryCode("1")
                                            .build())
                                        .email("jordan.lee@classbooker.dev")
                                        .address(Address.builder()
                                            .addressLine1("123 Main Street")
                                            .city("Boulder")
                                            .stateOrProvince("CO")
                                            .postalCode("80301")
                                            .country("US")
                                            .addressLine2("Apt 302")
                                            .build())
                                        .birthDate(BirthDate.builder()
                                            .day(9L)
                                            .month(11L)
                                            .year(1989L)
                                            .build())
                                        .build())
                                    .business(CreateBusinessProfile.builder()
                                        .legalBusinessName("Classbooker, LLC")
                                        .businessType(BusinessType.LLC)
                                        .address(Address.builder()
                                            .addressLine1("123 Main Street")
                                            .city("Boulder")
                                            .stateOrProvince("CO")
                                            .postalCode("80301")
                                            .country("US")
                                            .addressLine2("Apt 302")
                                            .build())
                                        .phone(PhoneNumber.builder()
                                            .number("8185551212")
                                            .countryCode("1")
                                            .build())
                                        .email("jordan.lee@classbooker.dev")
                                        .description("Local fitness gym paying out instructors")
                                        .taxID(TaxID.builder()
                                            .ein(Ein.builder()
                                                .number("12-3456789")
                                                .build())
                                            .build())
                                        .industryCodes(IndustryCodes.builder()
                                            .naics("713940")
                                            .sic("7991")
                                            .mcc("7997")
                                            .build())
                                        .build())
                                    .build())
                                .metadata(Map.ofEntries(
                                    Map.entry("optional", "metadata")))
                                .termsOfService(CreateAccountTermsOfService.of(TermsOfServiceToken.builder()
                                    .token("kgT1uxoMAk7QKuyJcmQE8nqW_HjpyuXBabiXPi6T83fUQoxsyWYPcYzuHQTqrt7YRp4gCwyDQvb6U5REM9Pgl2EloCe35t-eiMAbUWGo3Kerxme6aqNcKrP_6-v0MTXViOEJ96IBxPFTvMV7EROI2dq3u4e-x4BbGSCedAX-ViAQND6hcreCDXwrO6sHuzh5Xi2IzSqZHxaovnWEboaxuZKRJkA3dsFID6fzitMpm2qrOh4")
                                    .build()))
                                .customerSupport(CustomerSupport.builder()
                                    .phone(PhoneNumber.builder()
                                        .number("8185551212")
                                        .countryCode("1")
                                        .build())
                                    .email("jordan.lee@classbooker.dev")
                                    .address(Address.builder()
                                        .addressLine1("123 Main Street")
                                        .city("Boulder")
                                        .stateOrProvince("CO")
                                        .postalCode("80301")
                                        .country("US")
                                        .addressLine2("Apt 302")
                                        .build())
                                    .build())
                                .settings(Settings.builder()
                                    .cardPayment(CardPaymentSettings.builder()
                                        .statementDescriptor("Whole Body Fitness")
                                        .build())
                                    .achPayment(ACHPaymentSettings.builder()
                                        .companyName("WholeBodyFitness")
                                        .build())
                                    .build())
                                .mode(Mode.PRODUCTION)
                                .build())
                            .call();

                    if (res.account().isPresent()) {
                        // handle response
                    }
                }
            }
        - lang: php
          label: Php (SDK)
          source: |-
            declare(strict_types=1);

            require 'vendor/autoload.php';

            use Moov\MoovPhp;
            use Moov\MoovPhp\Models\Components;

            $sdk = MoovPhp\Moov::builder()
                ->setSecurity(
                    new Components\Security(
                        username: '',
                        password: '',
                    )
                )
                ->build();

            $createAccount = new Components\CreateAccount(
                accountType: Components\CreateAccountType::Business,
                profile: new Components\CreateProfile(
                    business: new Components\CreateBusinessProfile(
                        legalBusinessName: 'Whole Body Fitness LLC',
                    ),
                ),
            );

            $response = $sdk->accounts->create(
                createAccount: $createAccount,
                xMoovVersion: 'v2024.01.00'

            );

            if ($response->account !== null) {
                // handle response
            }
    get:
      operationId: listAccounts
      description: |-
        List or search accounts to which the caller is connected.

        All supported query parameters are optional. If none are provided the response will include all connected accounts.
        Pagination is supported via the `skip` and `count` query parameters. Searching by name and email will overlap and 
        return results based on relevance.

        To access this endpoint using an [access token](https://docs.moov.io/api/authentication/access-tokens/) you'll need 
        to specify the `/accounts.read` scope.
      parameters:
        - name: x-moov-version
          in: header
          required: false
          description: |-
            Specify an API version.

            API versioning follows the format `vYYYY.QQ.BB`, where 
              - `YYYY` is the year
              - `QQ` is the two-digit month for the first month of the quarter (e.g., 01, 04, 07, 10)
              - `BB` is the build number, starting at `.01`, for subsequent builds in the same quarter. 
                - For example, `v2024.01.00` is the initial release of the first quarter of 2024.

            The `latest` version represents the most recent development state. It may include breaking changes and should be treated as a beta release.
          schema: *ref_17
          x-speakeasy-globals-hidden: true
        - name: name
          in: query
          required: false
          description: |-
            Filter connected accounts by name.

            If provided, this query will attempt to find matches against the following Account and Profile fields:
            <ul>
              <li>Account `displayName`</li>
              <li>Individual Profile `firstName`, `middleName`, and `lastName`</li>
              <li>Business Profile `legalBusinessName`</li>
            </ul>
          schema: &ref_262
            type: string
          explode: false
        - name: email
          in: query
          required: false
          description: |2-
              Filter connected accounts by email address.

              Provide the full email address to filter by email.
          schema: &ref_258
            type: string
          explode: false
        - name: type
          in: query
          required: false
          description: |2-
              Filter connected accounts by AccountType.

              If the `type` parameter is used in combination with `name`, only the corresponding type's name fields will
              be searched. For example, if `type=business` and `name=moov`, the search will attempt to find matches against
              the display name and Business Profile name fields (`legalBusinessName`, and `doingBusinessAs`).
          schema: &ref_263
            type: string
            enum: *ref_18
            description: The type of entity represented by this account.
            example: business
          explode: false
        - name: includeGuest
          in: query
          required: false
          description: |2-
              Filter accounts with AccountType guest.
              
              If true, the response will include guest accounts.
          schema: &ref_261
            type: boolean
          explode: false
        - name: foreignID
          in: query
          required: false
          description: '  Serves as an optional alias from a foreign/external system which can be used to reference this resource.'
          schema: &ref_259
            type: string
            pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
          explode: false
        - name: includeDisconnected
          in: query
          required: false
          description: |-
            Filter disconnected accounts.

            If true, the response will include disconnected accounts.
          schema: &ref_260
            type: boolean
          explode: false
        - name: capability
          in: query
          required: false
          description: '  Filter connected accounts by the capability.'
          schema: &ref_256
            type: string
            enum: *ref_19
            description: |-
              Moov account capabilities.

              The `production-app` capability might appear in your list. This is a read-only capability that Moov requests and uses for account verification purposes. The capability remains active with your account and requires no additional action.
          explode: false
        - name: capabilityStatus
          in: query
          required: false
          description: '  Filter connected accounts by the capability.'
          schema: &ref_257
            type: string
            enum: &ref_53
              - enabled
              - disabled
              - pending
              - in-review
            description: The status of the capability requested for an account.
          explode: false
        - name: skip
          in: query
          required: false
          schema:
            type: integer
            format: int64
            description: The number of entries to skip when paginating a large result set.
            example: 60
          explode: false
        - name: count
          in: query
          required: false
          schema:
            type: integer
            format: int64
            description: Limits the maximum number of results returned, or determines the page size when used with `skip` for pagination.
            example: 20
          explode: false
      responses:
        '200':
          description: The request completed successfully.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: *ref_20
                  properties: *ref_21
                  example: *ref_22
        '401':
          description: The request contained missing or expired authentication.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '403':
          description: The user is not authorized to make the request.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '429':
          description: Request was refused due to rate limiting.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '500':
          description: The request failed due to an unexpected error.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '504':
          description: The request failed because a downstream service failed to respond.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
      tags:
        - Accounts
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: python
          label: Python (SDK)
          source: |-
            from moovio_sdk import Moov
            from moovio_sdk.models import components


            with Moov(
                security=components.Security(
                    username="",
                    password="",
                ),
            ) as moov:

                res = moov.accounts.list(type_=components.AccountType.BUSINESS, skip=60, count=20)

                # Handle response
                print(res)
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { Moov } from "@moovio/sdk";

            const moov = new Moov({
              security: {
                username: "",
                password: "",
              },
            });

            async function run() {
              const result = await moov.accounts.list({
                type: "business",
                skip: 60,
                count: 20,
              });

              // Handle the result
              console.log(result);
            }

            run();
        - lang: java
          label: Java (SDK)
          source: |-
            package hello.world;

            import io.moov.sdk.Moov;
            import io.moov.sdk.models.components.AccountType;
            import io.moov.sdk.models.components.Security;
            import io.moov.sdk.models.operations.ListAccountsRequest;
            import io.moov.sdk.models.operations.ListAccountsResponse;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Exception {

                    Moov sdk = Moov.builder()
                            .security(Security.builder()
                                .username("")
                                .password("")
                                .build())
                        .build();

                    ListAccountsRequest req = ListAccountsRequest.builder()
                            .type(AccountType.BUSINESS)
                            .skip(60L)
                            .count(20L)
                            .build();

                    ListAccountsResponse res = sdk.accounts().list()
                            .request(req)
                            .call();

                    if (res.accounts().isPresent()) {
                        // handle response
                    }
                }
            }
        - lang: php
          label: Php (SDK)
          source: |-
            declare(strict_types=1);

            require 'vendor/autoload.php';

            use Moov\MoovPhp;
            use Moov\MoovPhp\Models\Components;
            use Moov\MoovPhp\Models\Operations;

            $sdk = MoovPhp\Moov::builder()
                ->setSecurity(
                    new Components\Security(
                        username: '',
                        password: '',
                    )
                )
                ->build();

            $request = new Operations\ListAccountsRequest(
                type: Components\AccountType::Business,
                skip: 60,
                count: 20,
            );

            $response = $sdk->accounts->list(
                request: $request
            );

            if ($response->accounts !== null) {
                // handle response
            }
  /accounts/{accountID}:
    get:
      operationId: getAccount
      description: |-
        Retrieves details for the account with the specified ID.

        To access this endpoint using an [access token](https://docs.moov.io/api/authentication/access-tokens/) you'll need 
        to specify the `/accounts/{accountID}/profile.read` scope.
      parameters:
        - name: x-moov-version
          in: header
          required: false
          description: |-
            Specify an API version.

            API versioning follows the format `vYYYY.QQ.BB`, where 
              - `YYYY` is the year
              - `QQ` is the two-digit month for the first month of the quarter (e.g., 01, 04, 07, 10)
              - `BB` is the build number, starting at `.01`, for subsequent builds in the same quarter. 
                - For example, `v2024.01.00` is the initial release of the first quarter of 2024.

            The `latest` version represents the most recent development state. It may include breaking changes and should be treated as a beta release.
          schema: *ref_17
          x-speakeasy-globals-hidden: true
        - name: accountID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The request completed successfully.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                required: *ref_20
                properties: *ref_21
                example: *ref_22
        '401':
          description: The request contained missing or expired authentication.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '403':
          description: The user is not authorized to make the request.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '404':
          description: The requested resource was not found.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '429':
          description: Request was refused due to rate limiting.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '500':
          description: The request failed due to an unexpected error.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '504':
          description: The request failed because a downstream service failed to respond.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
      tags:
        - Accounts
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: python
          label: Python (SDK)
          source: |-
            from moovio_sdk import Moov
            from moovio_sdk.models import components


            with Moov(
                security=components.Security(
                    username="",
                    password="",
                ),
            ) as moov:

                res = moov.accounts.get(account_id="b888f774-3e7c-4135-a18c-6b985523c4bc")

                # Handle response
                print(res)
        - lang: typescript
          label: Typescript (SDK)
          source: |-
            import { Moov } from "@moovio/sdk";

            const moov = new Moov({
              security: {
                username: "",
                password: "",
              },
            });

            async function run() {
              const result = await moov.accounts.get({
                accountID: "b888f774-3e7c-4135-a18c-6b985523c4bc",
              });

              // Handle the result
              console.log(result);
            }

            run();
        - lang: java
          label: Java (SDK)
          source: |-
            package hello.world;

            import io.moov.sdk.Moov;
            import io.moov.sdk.models.components.Security;
            import io.moov.sdk.models.operations.GetAccountResponse;
            import java.lang.Exception;

            public class Application {

                public static void main(String[] args) throws Exception {

                    Moov sdk = Moov.builder()
                            .security(Security.builder()
                                .username("")
                                .password("")
                                .build())
                        .build();

                    GetAccountResponse res = sdk.accounts().get()
                            .accountID("b888f774-3e7c-4135-a18c-6b985523c4bc")
                            .call();

                    if (res.account().isPresent()) {
                        // handle response
                    }
                }
            }
        - lang: php
          label: Php (SDK)
          source: |-
            declare(strict_types=1);

            require 'vendor/autoload.php';

            use Moov\MoovPhp;
            use Moov\MoovPhp\Models\Components;

            $sdk = MoovPhp\Moov::builder()
                ->setSecurity(
                    new Components\Security(
                        username: '',
                        password: '',
                    )
                )
                ->build();



            $response = $sdk->accounts->get(
                accountID: 'b888f774-3e7c-4135-a18c-6b985523c4bc',
                xMoovVersion: 'v2024.01.00'

            );

            if ($response->account !== null) {
                // handle response
            }
    patch:
      operationId: updateAccount
      description: |-
        When **can** profile data be updated:
          + For unverified accounts, all profile data can be edited.
          + During the verification process, missing or incomplete profile data can be edited.
          + Verified accounts can only add missing profile data.

          When **can't** profile data be updated:
          + Verified accounts cannot change any existing profile data.

        If you need to update information in a locked state, please contact Moov support.

        To access this endpoint using an [access token](https://docs.moov.io/api/authentication/access-tokens/) you'll need 
        to specify the `/accounts/{accountID}/profile.write` scope.
      parameters:
        - name: x-moov-version
          in: header
          required: false
          description: |-
            Specify an API version.

            API versioning follows the format `vYYYY.QQ.BB`, where 
              - `YYYY` is the year
              - `QQ` is the two-digit month for the first month of the quarter (e.g., 01, 04, 07, 10)
              - `BB` is the build number, starting at `.01`, for subsequent builds in the same quarter. 
                - For example, `v2024.01.00` is the initial release of the first quarter of 2024.

            The `latest` version represents the most recent development state. It may include breaking changes and should be treated as a beta release.
          schema: *ref_17
          x-speakeasy-globals-hidden: true
        - name: accountID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The request completed successfully.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                required: *ref_20
                properties: *ref_21
                example: *ref_22
        '400':
          description: The server could not understand the request due to invalid syntax.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                required: *ref_5
                properties: *ref_6
        '401':
          description: The request contained missing or expired authentication.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '403':
          description: The user is not authorized to make the request.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '404':
          description: The requested resource was not found.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '409':
          description: The request conflicted with the current state of the target resource.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                required: *ref_5
                properties: *ref_6
        '422':
          description: The request was well-formed, but the contents failed validation. Check the request for missing or invalid fields.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties: &ref_562
                      profile:
                        type: object
                        properties: *ref_23
                      metadata:
                        type: string
                      termsOfService:
                        type: object
                        properties: *ref_24
                      foreignID:
                        type: string
                      customerSupport:
                        type: object
                        properties: *ref_25
                      settings:
                        type: object
                        properties: *ref_26
                required:
                  - error
        '429':
          description: Request was refused due to rate limiting.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '500':
          description: The request failed due to an unexpected error.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
        '504':
          description: The request failed because a downstream service failed to respond.
          headers:
            x-request-id:
              required: true
              description: A unique identifier used to trace requests.
              schema:
                type: string
                format: uuid
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: &ref_561
                profile:
                  type: object
                  properties: &ref_565
                    individual:
                      type: object
                      properties: &ref_564
                        name:
                          type: object
                          properties: &ref_141
                            firstName:
                              type: string
                              maxLength: 64
                              pattern: '[À-ÖØ-öø-ÿ"''(),-.0-9A-Za-z~ &!]*'
                              description: The individual's first given name.
                              example: Jordan
                            middleName:
                              type: string
                              maxLength: 64
                              pattern: '[À-ÖØ-öø-ÿ"''(),-.0-9A-Za-z~ &!]*'
                              description: The individual's second given name, if any.
                              example: Reese
                            lastName:
                              type: string
                              maxLength: 64
                              pattern: '[À-ÖØ-öø-ÿ"''(),-.0-9A-Za-z~ &!]*'
                              description: The individual's family name.
                              example: Lee
                            suffix:
                              type: string
                              maxLength: 20
                              pattern: '[À-ÖØ-öø-ÿ"''(),-.0-9A-Za-z~ &!]*'
                              description: Suffix of a given name.
                              example: Jr
                        phone:
                          type: object
                          properties: *ref_2
                        email:
                          type: string
                          maxLength: 255
                          format: email
                          example: jordan.lee@classbooker.dev
                        address:
                          type: object
                          properties: &ref_28
                            addressLine1:
                              type: string
                              maxLength: 60
                              pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                              example: 123 Main Street
                            addressLine2:
                              type: string
                              maxLength: 32
                              pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                              example: Apt 302
                            city:
                              type: string
                              maxLength: 32
                              pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                              example: Boulder
                            stateOrProvince:
                              type: string
                              maxLength: 2
                              example: CO
                            postalCode:
                              type: string
                              maxLength: 5
                              example: '80301'
                            country:
                              type: string
                              maxLength: 2
                              example: US
                        birthDate:
                          type: object
                          properties: &ref_142
                            day:
                              type: integer
                              example: 9
                            month:
                              type: integer
                              example: 11
                            year:
                              type: integer
                              example: 1989
                        governmentID:
                          type: object
                          properties: *ref_27
                      description: Describes the fields available when patching an individual.
                    business:
                      type: object
                      properties: &ref_563
                        legalBusinessName:
                          type: string
                          maxLength: 64
                          pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                        doingBusinessAs:
                          type: string
                          maxLength: 64
                          pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                        businessType:
                          type: string
                          enum: *ref_9
                          description: The type of entity represented by this business.
                          example: llc
                        address:
                          type: object
                          properties: *ref_28
                        phone:
                          type: object
                          properties: *ref_2
                        email:
                          type: string
                          maxLength: 255
                          format: email
                          example: jordan.lee@classbooker.dev
                        website:
                          type: string
                          maxLength: 100
                        description:
                          type: string
                          minLength: 10
                          maxLength: 100
                          pattern: '[a-zA-Z0-9,./?:''"|~!@#$%^&*()-+_= ]+'
                        taxID:
                          type: object
                          properties: &ref_632
                            ein:
                              type: object
                              properties:
                                number:
                                  type: string
                                  example: 12-3456789
                          description: An EIN (employer identification number) for the business. For sole proprietors, an SSN can be used as the EIN.
                        ownersProvided:
                          type: boolean
                        industryCodes:
                          type: object
                          properties: *ref_10
                        primaryRegulator:
                          type: string
                          enum: *ref_11
                          description: If the business is a financial institution, this field describes its primary regulator.
                  description: |-
                    Describes the fields available when patching a profile.
                    Each object can be patched independent of patching the other fields.
                metadata:
                  type: object
                  allOf:
                    - type: object
                      additionalProperties: *ref_12
                      description: Free-form key-value pair list. Useful for storing information that is not captured elsewhere.
                      example: *ref_13
                  nullable: true
                termsOfService:
                  oneOf:
                    - type: object
                      properties: &ref_640
                        token:
                          type: string
                          example: kgT1uxoMAk7QKuyJcmQE8nqW_HjpyuXBabiXPi6T83fUQoxsyWYPcYzuHQTqrt7YRp4gCwyDQvb6U5REM9Pgl2EloCe35t-eiMAbUWGo3Kerxme6aqNcKrP_6-v0MTXViOEJ96IBxPFTvMV7EROI2dq3u4e-x4BbGSCedAX-ViAQND6hcreCDXwrO6sHuzh5Xi2IzSqZHxaovnWEboaxuZKRJkA3dsFID6fzitMpm2qrOh4
                      description: An encrypted value used to record acceptance of Moov's Terms of Service.
                    - type: object
                      properties: &ref_540
                        acceptedDate:
                          type: string
                          format: date-time
                          description: The date and time the terms of service were accepted.
                        acceptedIP:
                          type: string
                          format: ipv4
                          description: The IP address from which the terms of service were accepted.
                          example: 172.217.2.46
                        acceptedUserAgent:
                          type: string
                          maxLength: 255
                          description: The user-agent of the user making the request.
                          example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/94.0.4606.71 Safari/537.36
                        acceptedDomain:
                          type: string
                          format: uri
                      description: Describes the acceptance of the Terms of Service. All data is required, and must be from the user.
                foreignID:
                  type: string
                customerSupport:
                  type: object
                  allOf:
                    - type: object
[...]
